[Unit]
Description=Bartholomew Blog served by Spin
Requires=network.target
After=network.target

[Service]
Type=simple
User=spin
Group=spin
WorkingDirectory=/opt/spin/wasmblog
ExecStart=/usr/local/bin/spin --file spin.toml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
