[Unit]
Description=Update blog content

[Service]
Type=oneshot
User=spin
Group=spin
WorkingDirectory=/opt/spin/wasmblog
ExecStart=/opt/spin/wasmblog/contrib/update.sh

[Install]
WantedBy=multi-user.target
