{{> content_top }}
<article class="max-w-full prose dark:prose-invert">

    <header>
      <h1>{{ page.head.title }}</h1>
    </header>
  <section>{{{ page.body }}}</section>
</article>
{{> recent }}

{{> content_bottom }}
