{{! See content_top.hbs }}
<!-- This example requires Tailwind CSS v2.0+ -->
<footer class="py-10">
    <nav class="pb-4 text-base font-medium text-neutral-500 dark:text-neutral-400">
      <ul class="flex flex-col list-none sm:flex-row">
          <li class="mb-1 sm:mb-0 sm:mr-7 sm:last:mr-0">
            <a
              class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
              href="/"
              title="Home"
              >Home</a
            >
          </li>
      </ul>
    </nav>
  <div class="flex justify-between">
    <div>
      <p class="text-sm text-neutral-500 dark:text-neutral-400">
          &copy; Brian Ketelsen, 2022
      </p>
    </div>

  </div>
</footer>

</body>

</html>
