<!DOCTYPE html>
<html
lang="en"
dir="ltr"
  class="scroll-smooth"
  data-default-appearance="light"
  data-auto-appearance="true">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{page.head.title}} | {{site.info.title}}</title>
    {{#if page.head.description}}
        <meta name="description" content="{{page.head.description}}">
    {{/if}}
    <link href="/atom" type="application/atom+xml" rel="alternate" title="Atom feed" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <link rel="stylesheet" href="/static/assets/css/compiled/main.css" />
    <script defer type="text/javascript" id="script-bundle" src="/static/assets/js/appearance.js"></script>
    <script defer type="text/javascript" id="script-bundle" src="/static/assets/js/chart.js"></script>
    <script defer type="text/javascript" id="script-bundle" src="/static/assets/js/code.js"></script>
    <script defer type="text/javascript" id="script-bundle" src="/static/assets/js/mermaid.js"></script>
    <script defer type="text/javascript" id="script-bundle" src="/static/assets/js/search.js"></script>

  <script  type="text/javascript" src="/static/assets/lib/mermaid/mermaid.min.js" ></script>
  <script  type="text/javascript" src="/static/assets/lib/chart/chart.min.js" ></script>
  <link
    type="text/css" rel="stylesheet" src="/static/assets/lib/katex/katex.min.css" />
  <script  type="text/javascript" src="/static/assets/lib/katex/katex.min.js" ></script>


</head>

  <body
    class="flex flex-col h-screen px-6 m-auto text-lg leading-7 bg-neutral text-neutral-900 sm:px-14 md:px-24 lg:px-32 dark:bg-neutral-800 dark:text-neutral max-w-7xl"
  >
    <div id="the-top" class="absolute flex self-center">
      <a
        class="px-3 py-1 text-sm -translate-y-8 rounded-b-lg bg-primary-200 dark:bg-neutral-600 focus:translate-y-0"
        href="#main-content"
        ><span class="font-bold ltr:pr-2 rtl:pl-2 text-primary-600 dark:text-primary-400"
          >&darr;</span
        >Skip to main content</a
      >
    </div>
    {{> header }}
