<header
  class="flex justify-between py-6 font-semibold sm:items-center sm:py-10 text-neutral-900 dark:text-neutral"
>

  <div>

      <a
        class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
        rel="me"
        href="/"
        >{{ site.info.title }}</a
      >

  </div>
    <nav>
      <ul class="flex flex-col list-none sm:flex-row">

          <li
            class="mb-1 ltr:text-right rtl:text-left sm:mb-0 ltr:sm:mr-7 ltr:sm:last:mr-0 rtl:sm:ml-7 rtl:sm:last:ml-0"
          >
            <a
              class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
              href="/"
              title="home"
              >Home</a
            >
          </li>
          <li
            class="mb-1 ltr:text-right rtl:text-left sm:mb-0 ltr:sm:mr-7 ltr:sm:last:mr-0 rtl:sm:ml-7 rtl:sm:last:ml-0"
          >
            <a
              class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
              href="/blog"
              title="blog"
              >Articles</a
            >
          </li>

      </ul>
    </nav>
</header>
