{{> content_top }}
  <article>
    <header class="max-w-prose">
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ page.head.title }}
      </h1>
      <div class="mt-8 mb-12 text-base text-neutral-500 dark:text-neutral-400">
        article meta
      </div>
    </header>
    <section class="flex flex-col max-w-full mt-0 prose lg:flex-row dark:prose-invert">

      <div class="min-w-0 min-h-0 max-w-prose">
        {{{ page.body }}}
      </div>
    </section>
    <footer class="pt-8 max-w-prose">

    </footer>

  </article>


{{> content_bottom }}
